.google-sign-btn{
    width: 400px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    border: none;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}
.google-icon {
    height: 30px;
    margin: 10px;
  
}
.google-text{
    color: black;
    margin: 10px;

}


